<!DOCTYPE html>
<html>
  <head>
    <title>Pagina principal</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="/css/styles.css" type="text/css" rel="stylesheet"/>
    <link href="/css/stylesPaginaPrincipal.css" type="text/css" rel="stylesheet"/>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/axQuery.js"></script>
    <script src="/js/globals.js"></script>
    <script src="/js/axutils.js"></script>
    <script src="/js/annotation.js"></script>
    <script src="/js/axQuery.std.js"></script>
    <script src="/js/doc.js"></script>
    <script src="/js/messagecenter.js"></script>
    <script src="/js/events.js"></script>
    <script src="/js/recording.js"></script>
    <script src="/js/action.js"></script>
    <script src="/js/expr.js"></script>
    <script src="/js/geometry.js"></script>
    <script src="/js/flyout.js"></script>
    <script src="/js/model.js"></script>
    <script src="/js/repeater.js"></script>
    <script src="/js/sto.js"></script>
    <script src="/js/utils.temp.js"></script>
    <script src="/js/variables.js"></script>
    <script src="/js/drag.js"></script>
    <script src="/js/move.js"></script>
    <script src="/js/visibility.js"></script>
    <script src="/js/style.js"></script>
    <script src="/js/adaptive.js"></script>
    <script src="/js/tree.js"></script>
    <script src="/js/init.temp.js"></script>
    <script src="/js/legacy.js"></script>
    <script src="/js/viewer.js"></script>
    <script src="/js/math.js"></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/documentPaginaPrincipal.js"></script>
    <script src="/js/dataPaginaPrincipal.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (Rectangle) -->
      <div id="u8" class="ax_default box_1">
        <div id="u8_div" class=""></div>
        <div id="u8_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Nombre organizacion (Rectangle) -->
      <div id="u9" class="ax_default heading_1" data-label="Nombre organizacion">
        <div id="u9_div" class=""></div>
        <div id="u9_text" class="text ">
          <p><span>Organizacion default</span></p>
        </div>
      </div>

      <!-- Nombre usuario (Rectangle) -->
      <div id="u10" class="ax_default heading_2" data-label="Nombre usuario">
        <div id="u10_div" class=""></div>
        <div id="u10_text" class="text ">
          <p><span>Usuario default</span></p>
        </div>
      </div>

      <!-- Boton log out (Rectangle) -->
      <div id="u11" class="ax_default link_button" data-label="Boton log out">
        <img id="u11_img" class="img " src="images/pagina_principal/boton_log_out_u11.svg"/>
        <div id="u11_text" class="text ">
          <p><span>Log Out</span></p>
        </div>
      </div>
    </div>
    <script src="/js/ios.js"></script>
  </body>
</html>
